## Importing Required Libraries

In [42]:
import pandas as pd
import openai
import ast

## Enabling GenAI

In [43]:
key = "sk-proj-T0QH2ygkWcqf3efA9ck6T3BlbkFJkVvGVl5vFUUB7ZDlxCbH"
openai.api_key = key
openai.models.list()

SyncPage[Model](data=[Model(id='gpt-3.5-turbo-16k-0613', created=1685474247, object='model', owned_by='openai'), Model(id='whisper-1', created=1677532384, object='model', owned_by='openai-internal'), Model(id='davinci-002', created=1692634301, object='model', owned_by='system'), Model(id='gpt-3.5-turbo-16k', created=1683758102, object='model', owned_by='openai-internal'), Model(id='dall-e-2', created=1698798177, object='model', owned_by='system'), Model(id='tts-1-hd-1106', created=1699053533, object='model', owned_by='system'), Model(id='tts-1-hd', created=1699046015, object='model', owned_by='system'), Model(id='gpt-4', created=1687882411, object='model', owned_by='openai'), Model(id='dall-e-3', created=1698785189, object='model', owned_by='system'), Model(id='gpt-4-1106-preview', created=1698957206, object='model', owned_by='system'), Model(id='gpt-4-0613', created=1686588896, object='model', owned_by='openai'), Model(id='gpt-3.5-turbo-instruct-0914', created=1694122472, object='model', owned_by='system'), Model(id='gpt-3.5-turbo-instruct', created=1692901427, object='model', owned_by='system'), Model(id='tts-1', created=1681940951, object='model', owned_by='openai-internal'), Model(id='gpt-3.5-turbo-0613', created=1686587434, object='model', owned_by='openai'), Model(id='gpt-3.5-turbo-0301', created=1677649963, object='model', owned_by='openai'), Model(id='babbage-002', created=1692634615, object='model', owned_by='system'), Model(id='tts-1-1106', created=1699053241, object='model', owned_by='system'), Model(id='text-embedding-3-large', created=1705953180, object='model', owned_by='system'), Model(id='gpt-3.5-turbo', created=1677610602, object='model', owned_by='openai'), Model(id='gpt-3.5-turbo-0125', created=1706048358, object='model', owned_by='system'), Model(id='gpt-4-1106-vision-preview', created=1711473033, object='model', owned_by='system'), Model(id='text-embedding-3-small', created=1705948997, object='model', owned_by='system'), Model(id='gpt-4-vision-preview', created=1698894917, object='model', owned_by='system'), Model(id='text-embedding-ada-002', created=1671217299, object='model', owned_by='openai-internal'), Model(id='gpt-4-turbo-2024-04-09', created=1712601677, object='model', owned_by='system'), Model(id='gpt-3.5-turbo-1106', created=1698959748, object='model', owned_by='system'), Model(id='gpt-4-turbo-preview', created=1706037777, object='model', owned_by='system'), Model(id='gpt-4-0125-preview', created=1706037612, object='model', owned_by='system'), Model(id='gpt-4-turbo', created=1712361441, object='model', owned_by='system')], object='list')

In [44]:
from openai import OpenAI
client = OpenAI(api_key = key)

## Importing Data from the TXT and converting it to List

In [45]:
with open('Food Data.txt', 'r', encoding='utf-8', errors='ignore') as file:
    lines = file.readlines()
    literals = []

    for line in lines:
        literals.append(ast.literal_eval(f'"{line.strip()}"'))

literals

["Hi, I'm Ravi. I love Pizza and Burger of LaPinoz in Jaipur. I spent a whopping Rs. 9000 on food last month!",
 "Hey there, it's Sameer from Delhi. Butter Chicken and Naan from Zaika are my go-to comfort food. I try to limit myself to Rs. 5000 a month on takeout. ü´ì",
 "Namaste! I'm Kiran, a big fan of the Chole Bhature at Chandni Chowk in Delhi. So delicious and affordable! I usually spend around Rs. 2000 a month on eating out.",
 "What's up? This is Maya from Bengaluru. Can't wait to try the Rajma Chawal at Biryani Paradise tonight. I budgeted Rs. 3000 for eating out this month, but it might not be enough!",
 "Hi everyone, it's Akash from Chennai. Huge fan of the Thali meals at Saravana Bhavan. So much variety! They're a steal at Rs. 250 per meal, so I can eat there often and stay within my Rs. 4000 budget.",
 "Hey! I'm Neha from Mumbai. Love the Aloo Gobi and Roti at Ghar ŸÉŸä (Ki) Rasoi. Feels like home! It's a bit pricey, but worth it. I spend around Rs. 6000 a month on eating out.",
 'Hello! This is Rohan from Hyderabad. Biryani cravings hit different! Gotta visit Paradise Biryani soon. I try to limit myself to Rs. 4500 a month on takeout, but their biryani is hard to resist!',
 "What's up everyone? It's Aisha from Pune. Can't resist the Pav Bhaji from Aadyaa. So cheesy and yummy! It's budget-friendly too, at around Rs. 150 per plate. I can afford to eat there often with my Rs. 3500 monthly food budget.",
 "Hi there, I'm Dev from Chennai. South Indian food is my favorite! Dosa and Uttapam from Sankalp are the best! They're vegetarian and affordable, perfect for my Rs. 2000 monthly food budget. dosa uttapam",
 "Namaste! This is Mira from Bengaluru. Nothing beats the Masala Dosa and Filter Coffee at Iyengar Bakery. ‚òïÔ∏è I usually spend around Rs. 2500 a month on eating out, and Iyengar's is always a go-to for a quick and tasty meal.",
 "Hey everyone, it's Rahul from Delhi. Weekends are for indulging! The Mutton Rogan Josh at Karim's is calling my name. It's a splurge, but worth it sometimes. I typically spend Rs. 5000 a month on food, but I might go over budget this month!",
 "What's up? I'm Nikita from Kolkata. Craving some Momos and Thukpa from Doma Cafe. Perfect for a rainy day! I spend around Rs. 3000 a month on eating out, and Doma Cafe is always a reliable and affordable option.",
 "Hi there, I'm Aditya from Mumbai. Love experimenting with new cuisines. Just tried the Chettinad Chicken at Chettinad Vasanta Bhavan. Ô∏è I usually spend around Rs. 4000 a month on food, so I can try new places like this without breaking the bank.",
 "Hello! This is Priyanka from Delhi. Can't resist the street food! The Dahi Vada from any local stall is unbeatable, and at just Rs. 30 per plate, it's easy to stay on budget. My monthly food budget is around Rs. 2500.",
 "Hey everyone, it's Arjun from Chandigarh. The Lassi at Giani's is legendary. Perfect after a spicy meal! I try to limit myself to Rs. 3500 a month on eating out, but good Lassi is hard to resist!",
 "What's up? I'm Shreya from Pune. Love a good fusion dish! The Tandoori Chicken Pizza at The Pizza Bakery is amazing! It's a bit of a splurge at Rs. 500, but I factor in occasional treats like this to my Rs. 4000 monthly food budget.",
 "Hello! This is Kavita from Ahmedabad. Can't resist a good Gujarati Thali! The one at Thakkar Bhojanalay is a delicious explosion of flavors, for a reasonable Rs. 350. My monthly food budget is around Rs. 3000.",
 "Hey everyone, it's Sumit from Bengaluru. Weekends are for exploring new cafes! The ambience and coffee at Starbucks are worth the splurge, at around Rs. 300 a cup. I typically budget Rs. 4500 for eating out, with some room for occasional treats. ‚òïÔ∏è",
 "What's up? I'm Anjali from Mumbai. Can't resist a good dosa with aloo palak! Mysore Cafe has the best in town, for around Rs. 180 per plate. It fits perfectly within my Rs. 2800 monthly food budget.",
 "Hi there, I'm Vikas from Jaipur. Vegan options for the win! Love the Rajma Masala with brown rice at Nature's Basket. It's healthy and affordable, at around Rs. 250 per plate. I usually spend around Rs. 3000 a month on eating out.",
 'Hello! This is Pooja from Kolkata. The chaat at Bengali Sweets is my weakness! The Puchkas and Dahi Bhalla are to die for, at just Rs. 50 per plate. I can indulge often with my Rs. 2500 monthly food budget.',
 "Hey everyone, it's Nikhil from Delhi. Can't resist a good Dhaba experience! The Dal Makhani andMissi Roti at Amrik Sukhdev Dhaba are legendary, for a reasonable Rs. 400 per meal. My food budget is typically Rs. 5000 a month.",
 "What's up? I'm Sonia from Hyderabad. Craving some authentic Bengali food! The Elish Machher Patudi at Oh! Calcutta is a must-have, but it's a bit pricey at Rs. 800. I usually spend Rs. 4000 a month on eating out, but I might splurge this time.",
 "Hi there, I'm Manish from Pune. Dinner with friends is always fun! We love trying new places, but Jugaadu is our go-to for delicious and affordable Indian street food fusion. We can share a variety of dishes for around Rs. 500-700, which fits our group's budget perfectly.",
 "Hey! I'm Shivani from Mumbai. Fine dining is my occasional treat! The Lamb Rogan Josh at Indian Accent is divine, but it's a splurge at Rs. 1500 per plate. Thankfully, my monthly food budget is around Rs. 8000, so I can factor in these special occasions.",
 "What's up? I'm Abhishek from Delhi. Love a good European breakfast! The Eggs Benedict at Olive Bar & Kitchen are amazing, for around Rs. 700 a plate. With a Rs. 10,000 monthly food budget, I can enjoy international cuisine without breaking the bank.",
 "Hi there, I'm Riya from Bengaluru. Exploring healthy options! The Quinoa Salad with grilled chicken at The Skinny Bowl is a delicious and nutritious choice, at Rs. 450 per plate. My monthly food budget is Rs. 7000, which allows me to prioritize healthy eating habits.",
 "Hello! This is Yash from Hyderabad. Can't resist a luxurious seafood experience! The Lobster Curry at Taj Krishna is decadent, for around Rs. 2000 per serving. Luckily, my Rs. 12,000 monthly food budget allows for occasional indulgences.",
 "Hey everyone, it's Priya from Chennai. Love a good Italian meal! The Truffle Pasta at Serafina is heavenly, but it comes with a hefty price tag of Rs. 1200 per plate. Thankfully, my Rs. 9000 monthly food budget allows me to treat myself to these fancy dishes sometimes."]

## Function Calling Tool

In [46]:
tools = [
        {
            "type": "function",
            "function": {
                "name": "get_customer_info",
                "description": "Get the customer information from the text",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "name": {
                            "type": "string",
                            "description": "Name of the customer"
                        },
                        "fav_food": {
                            "type": "string",
                            "description": "Favorite food ordered"
                        },
                        "fav_restaurant": {
                            "type": "string",
                            "description": "Favorite restaurant of customer"
                        },
                        "total_amt": {
                            "type": "string",
                            "description": "Total amount spent"
                        },
                        "city": {
                            "type": "string",
                            "description": "City customer belongs to"
                        }
                    }
                }
            }
        }
    ]

## Converting the list to individual dictionaries and appending into one

In [47]:
dfs = []

for s in literals:
    response = client.chat.completions.create(
      model="gpt-3.5-turbo",
      messages=[
        {
          "role": "user",
          "content": s
        }
      ],
        tools=tools
    )

    res = response.choices[0].message.tool_calls[0].function.arguments
    my_dict = ast.literal_eval(res)
    my_dict
    dfs.append(my_dict)

In [48]:
dfs

[{'name': 'Ravi',
  'fav_food': 'Pizza, Burger',
  'fav_restaurant': 'LaPinoz',
  'total_amt': 'Rs. 9000',
  'city': 'Jaipur'},
 {'name': 'Sameer',
  'fav_food': 'Butter Chicken and Naan',
  'fav_restaurant': 'Zaika',
  'total_amt': 'Rs. 5000',
  'city': 'Delhi'},
 {'name': 'Kiran',
  'fav_food': 'Chole Bhature',
  'fav_restaurant': 'Chandni Chowk',
  'total_amt': 'Rs. 2000',
  'city': 'Delhi'},
 {'name': 'Maya',
  'fav_food': 'Rajma Chawal',
  'fav_restaurant': 'Biryani Paradise',
  'total_amt': 'Rs. 3000',
  'city': 'Bengaluru'},
 {'name': 'Akash',
  'fav_food': 'Thali meals',
  'fav_restaurant': 'Saravana Bhavan',
  'total_amt': 'Rs. 4000',
  'city': 'Chennai'},
 {'name': 'Neha',
  'fav_food': 'Aloo Gobi and Roti',
  'fav_restaurant': 'Ghar ŸÉŸä Rasoi',
  'total_amt': 'Rs. 6000',
  'city': 'Mumbai'},
 {'name': 'Rohan',
  'fav_food': 'Biryani',
  'fav_restaurant': 'Paradise Biryani',
  'total_amt': 'Rs. 4500',
  'city': 'Hyderabad'},
 {'name': 'Aisha',
  'fav_food': 'Pav Bhaji',
  'fav_restaurant': 'Aadyaa',
  'total_amt': 'Rs. 3500',
  'city': 'Pune'},
 {'name': 'Dev',
  'fav_food': 'Dosa and Uttapam',
  'fav_restaurant': 'Sankalp',
  'total_amt': 'Rs. 2000',
  'city': 'Chennai'},
 {'name': 'Mira',
  'fav_food': 'Masala Dosa',
  'fav_restaurant': 'Iyengar Bakery',
  'total_amt': 'Rs. 2500',
  'city': 'Bengaluru'},
 {'name': 'Rahul',
  'fav_food': 'Mutton Rogan Josh',
  'fav_restaurant': "Karim's",
  'total_amt': 'Rs. 5000',
  'city': 'Delhi'},
 {'name': 'Nikita',
  'fav_food': 'Momos and Thukpa',
  'fav_restaurant': 'Doma Cafe',
  'total_amt': 'Rs. 3000',
  'city': 'Kolkata'},
 {'name': 'Aditya',
  'fav_food': 'Chettinad Chicken',
  'fav_restaurant': 'Chettinad Vasanta Bhavan',
  'total_amt': 'Rs. 4000',
  'city': 'Mumbai'},
 {'name': 'Priyanka',
  'fav_food': 'Dahi Vada',
  'total_amt': '2500',
  'city': 'Delhi'},
 {'name': 'Arjun',
  'fav_food': 'Lassi',
  'fav_restaurant': "Giani's",
  'total_amt': 'Rs. 3500',
  'city': 'Chandigarh'},
 {'name': 'Shreya',
  'fav_food': 'Tandoori Chicken Pizza',
  'fav_restaurant': 'The Pizza Bakery',
  'total_amt': 'Rs. 500',
  'city': 'Pune'},
 {'name': 'Kavita',
  'fav_food': 'Gujarati Thali',
  'fav_restaurant': 'Thakkar Bhojanalay',
  'total_amt': 'Rs. 350',
  'city': 'Ahmedabad'},
 {'name': 'Sumit',
  'fav_restaurant': 'Starbucks',
  'fav_food': 'coffee',
  'total_amt': '4500',
  'city': 'Bengaluru'},
 {'name': 'Anjali',
  'fav_food': 'dosa with aloo palak',
  'fav_restaurant': 'Mysore Cafe',
  'total_amt': 'Rs. 2800',
  'city': 'Mumbai'},
 {'name': 'Vikas',
  'fav_food': 'Rajma Masala with brown rice',
  'fav_restaurant': "Nature's Basket",
  'total_amt': 'Rs. 3000',
  'city': 'Jaipur'},
 {'name': 'Pooja',
  'fav_food': 'Chaat at Bengali Sweets',
  'fav_restaurant': 'Bengali Sweets',
  'total_amt': 'Rs. 2500',
  'city': 'Kolkata'},
 {'name': 'Nikhil',
  'fav_food': 'Dal Makhani and Missi Roti',
  'fav_restaurant': 'Amrik Sukhdev Dhaba',
  'total_amt': 'Rs. 400',
  'city': 'Delhi'},
 {'name': 'Sonia',
  'fav_food': 'Elish Machher Patudi',
  'fav_restaurant': 'Oh! Calcutta',
  'total_amt': 'Rs. 800',
  'city': 'Hyderabad'},
 {'name': 'Manish',
  'fav_restaurant': 'Jugaadu',
  'total_amt': 'Rs. 500-700',
  'city': 'Pune'},
 {'name': 'Shivani',
  'fav_food': 'Lamb Rogan Josh',
  'fav_restaurant': 'Indian Accent',
  'total_amt': 'Rs. 8000',
  'city': 'Mumbai'},
 {'name': 'Abhishek',
  'fav_food': 'Eggs Benedict',
  'fav_restaurant': 'Olive Bar & Kitchen',
  'total_amt': 'Rs. 10,000',
  'city': 'Delhi'},
 {'name': 'Riya',
  'fav_food': 'Quinoa Salad with grilled chicken',
  'fav_restaurant': 'The Skinny Bowl',
  'total_amt': 'Rs. 450',
  'city': 'Bengaluru'},
 {'name': 'Yash',
  'fav_food': 'Lobster Curry',
  'fav_restaurant': 'Taj Krishna',
  'total_amt': '12000',
  'city': 'Hyderabad'},
 {'name': 'Priya',
  'fav_food': 'Truffle Pasta',
  'fav_restaurant': 'Serafina',
  'total_amt': 'Rs. 9000',
  'city': 'Chennai'}]

In [49]:
final_df = pd.DataFrame(dfs)
final_df

,name,fav_food,fav_restaurant,total_amt,city
0,Ravi,"Pizza, Burger",LaPinoz,Rs. 9000,Jaipur
1,Sameer,Butter Chicken and Naan,Zaika,Rs. 5000,Delhi
2,Kiran,Chole Bhature,Chandni Chowk,Rs. 2000,Delhi
3,Maya,Rajma Chawal,Biryani Paradise,Rs. 3000,Bengaluru
4,Akash,Thali meals,Saravana Bhavan,Rs. 4000,Chennai
5,Neha,Aloo Gobi and Roti,Ghar ŸÉŸä Rasoi,Rs. 6000,Mumbai
6,Rohan,Biryani,Paradise Biryani,Rs. 4500,Hyderabad
7,Aisha,Pav Bhaji,Aadyaa,Rs. 3500,Pune
8,Dev,Dosa and Uttapam,Sankalp,Rs. 2000,Chennai
9,Mira,Masala Dosa,Iyengar Bakery,Rs. 2500,Bengaluru
10,Rahul,Mutton Rogan Josh,Karim's,Rs. 5000,Delhi
11,Nikita,Momos and Thukpa,Doma Cafe,Rs. 3000,Kolkata
12,Aditya,Chettinad Chicken,Chettinad Vasanta Bhavan,Rs. 4000,Mumbai
13,Priyanka,Dahi Vada,NaN,2500,Delhi
14,Arjun,Lassi,Giani's,Rs. 3500,Chandigarh
15,Shreya,Tandoori Chicken Pizza,The Pizza Bakery,Rs. 500,Pune
16,Kavita,Gujarati Thali,Thakkar Bhojanalay,Rs. 350,Ahmedabad
17,Sumit,coffee,Starbucks,4500,Bengaluru
18,Anjali,dosa with aloo palak,Mysore Cafe,Rs. 2800,Mumbai
19,Vikas,Rajma Masala with brown rice,Nature's Basket,Rs. 3000,Jaipur
20,Pooja,Chaat at Bengali Sweets,Bengali Sweets,Rs. 2500,Kolkata
21,Nikhil,Dal Makhani and Missi Roti,Amrik Sukhdev Dhaba,Rs. 400,Delhi
22,Sonia,Elish Machher Patudi,Oh! Calcutta,Rs. 800,Hyderabad
23,Manish,NaN,Jugaadu,Rs. 500-700,Pune
24,Shivani,Lamb Rogan Josh,Indian Accent,Rs. 8000,Mumbai
25,Abhishek,Eggs Benedict,Olive Bar & Kitchen,"Rs. 10,000",Delhi
26,Riya,Quinoa Salad with grilled chicken,The Skinny Bowl,Rs. 450,Bengaluru
27,Yash,Lobster Curry,Taj Krishna,12000,Hyderabad
28,Priya,Truffle Pasta,Serafina,Rs. 9000,Chennai

In [50]:
def get_restaurant_suggestion(fav_food, city):
    try:
        # Make a request to the OpenAI API to get restaurant suggestions
        response = client.chat.completions.create(
        model = "gpt-3.5-turbo",
        messages = [
        {
          "role": "user",
          "content": f'''Can you suggest 1 top restaurant which serves the best {fav_food} in {city}.
          Can you please answer with just the restaurant name and nothing else''',
        }
      ],
        max_tokens=30
    )
        # Check if the API response is valid
        if response.choices and response.choices[0].message and response.choices[0].message.content:
            suggestion = response.choices[0].message.content
            suggested_restaurant = suggestion.split(':')[0].strip()
            return suggested_restaurant
        else:
            return 'No suggestion found'
    except Exception as e:
        print(f"Error fetching suggestion: {e}")
        return 'Error fetching suggestion'

# Create an empty list to store restaurant names
suggested_restaurant = []

# Iterate over each row in the DataFrame using a for loop
for index, row in final_df.iterrows():
    fav_food = row['fav_food']
    city = row['city']
    name = get_restaurant_suggestion(fav_food, city)
    suggested_restaurant.append(name)

# Add the restaurant names as a new column in the DataFrame
final_df['suggested_restaurant'] = suggested_restaurant

In [51]:
final_df

,name,fav_food,fav_restaurant,total_amt,city,suggested_restaurant
0,Ravi,"Pizza, Burger",LaPinoz,Rs. 9000,Jaipur,Blackout
1,Sameer,Butter Chicken and Naan,Zaika,Rs. 5000,Delhi,Punjab Grill
2,Kiran,Chole Bhature,Chandni Chowk,Rs. 2000,Delhi,Sita Ram Diwan Chand
3,Maya,Rajma Chawal,Biryani Paradise,Rs. 3000,Bengaluru,Punjab Grill
4,Akash,Thali meals,Saravana Bhavan,Rs. 4000,Chennai,Rasavid Buffet
5,Neha,Aloo Gobi and Roti,Ghar ŸÉŸä Rasoi,Rs. 6000,Mumbai,Aaswad
6,Rohan,Biryani,Paradise Biryani,Rs. 4500,Hyderabad,Paradise Biryani
7,Aisha,Pav Bhaji,Aadyaa,Rs. 3500,Pune,Sujata Mastani
8,Dev,Dosa and Uttapam,Sankalp,Rs. 2000,Chennai,Saravana Bhavan
9,Mira,Masala Dosa,Iyengar Bakery,Rs. 2500,Bengaluru,CTR
10,Rahul,Mutton Rogan Josh,Karim's,Rs. 5000,Delhi,"Dum Pukht, ITC Maurya"
11,Nikita,Momos and Thukpa,Doma Cafe,Rs. 3000,Kolkata,Wow! Momo
12,Aditya,Chettinad Chicken,Chettinad Vasanta Bhavan,Rs. 4000,Mumbai,Gajalee
13,Priyanka,Dahi Vada,NaN,2500,Delhi,Saravana Bhavan
14,Arjun,Lassi,Giani's,Rs. 3500,Chandigarh,Pal Dhaba
15,Shreya,Tandoori Chicken Pizza,The Pizza Bakery,Rs. 500,Pune,Little Italy
16,Kavita,Gujarati Thali,Thakkar Bhojanalay,Rs. 350,Ahmedabad,Agashiye
17,Sumit,coffee,Starbucks,4500,Bengaluru,Sunny‚Äôs Caf√©
18,Anjali,dosa with aloo palak,Mysore Cafe,Rs. 2800,Mumbai,Sukh Sagar
19,Vikas,Rajma Masala with brown rice,Nature's Basket,Rs. 3000,Jaipur,Handi
20,Pooja,Chaat at Bengali Sweets,Bengali Sweets,Rs. 2500,Kolkata,Kamala Sweets
21,Nikhil,Dal Makhani and Missi Roti,Amrik Sukhdev Dhaba,Rs. 400,Delhi,Punjabi by Nature
22,Sonia,Elish Machher Patudi,Oh! Calcutta,Rs. 800,Hyderabad,Ohri's Jiva Ayurveda Kitchen.
23,Manish,NaN,Jugaadu,Rs. 500-700,Pune,Northern Frontier - Pune
24,Shivani,Lamb Rogan Josh,Indian Accent,Rs. 8000,Mumbai,Curry Twist
25,Abhishek,Eggs Benedict,Olive Bar & Kitchen,"Rs. 10,000",Delhi,Diggin
26,Riya,Quinoa Salad with grilled chicken,The Skinny Bowl,Rs. 450,Bengaluru,Cafe Felix
27,Yash,Lobster Curry,Taj Krishna,12000,Hyderabad,Ohri's Jiva Imperia
28,Priya,Truffle Pasta,Serafina,Rs. 9000,Chennai,Ministry of Pasta